<div class="container">
  <div class="card-header">
    <h3>Persons</h3>
  </div>
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.surname }}</td>
          <td>
            <button class="btn btn-warning" (click)="edit(person)">Edit</button>
            <button
              class="btn btn-danger"
              (click)="delete(person)"
              style="margin-left: 10px"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
